body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

[name=timed]:not(:checked) ~ :is([name=limit], :last-child) {
    display: none;
}