html,
input,
select,
button,
h2 {
    font-family: 'Oswald', sans-serif;
}

[hidden] {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-image: url(background-first-screen.jpg);
}

[name=timed]:not(:checked)~ :is([name=limit], :last-child) {
    display: none;
}

input[type="radio"]:checked+span {
    color: #3A1078;
}

[name=limit] {
    width: 40px;
}

header>h2 {
    font-size: 2em;
    color: #3A1078;
}

main h2 {
    padding: 10px 0;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
    background: #9d8dba;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.choice-point {
    color: #2F58CD;
    margin-bottom: 10px;
}

#menu {
    display: flex;
    background: #e6cbeb;
    width: 500px;
    border-radius: 10px;
    border: 2px solid white;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    padding: 5px;
    background: #908dba;
    color: white;
    font-size: 1.2em;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #cba6c5;
    opacity: 2s;
}

label:last-child {
    height: 26px;
}

a {
    color: blue;
}

a:hover {
    color: darkblue;
}

.number-systems-block {
    display: flex;
    justify-content: space-between;
}

.system-block,
.direction-block {
    display: flex;
    flex-direction: column;
}

.digits {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.timed-flex {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#game {
    text-align: center;
}

.from,
.to {
    font-size: x-large;
}

.guess-number,
#guess {
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

footer {
    margin-bottom: 15px;
}

#results {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mistakes {
    width: 500px;
    border: 2px solid white;
    text-align: center;
    border-collapse: collapse;
}

.mistakes td:nth-child(3) {
    text-shadow:  0 0 2px limegreen, 0 0 2px limegreen, 0 0 2px limegreen, 0 0 2px limegreen;
    text-transform: uppercase;
}

.mistakes td:nth-child(4) {
    text-shadow: 0 0 2px red, 0 0 2px red, 0 0 2px red, 0 0 2px red;
    text-transform: uppercase;
}

th {
    color: white;
}

th, td {
    padding: 10px 0;
    border: 2px solid white;
}

